div.one {
  font-size: 12px;
  display: inline-block;
font-family: 'Playfair Display', serif;
  margin-left: 150px;
}

div.two {
  display: inline-block;
}



div.three {
  padding: 40px 0;
  margin-left: 151px;
  width: 1080px;
   min-height: 500px;
  background-image: url(image/chuys.jpg);
  border: 1px solid #efefef;
  text-align: center;
  font-family: 'Playfair Display', serif;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.four {
  border: 1px solid #D64550;
  width: 150px;
  margin-left: 465px;
  margin-top: 40px;
  background: #D64550;
  padding: 10px;
  border-radius: 20px;



}
div.center{
  color: white;
  margin-top: -130px;
}

div.font {
  margin-top: 170px;
  font-size: 80px;
  color: white;
  font-family: 'Satisfy', cursive;
}
/* navigation bar css*/
.topnav {
  background-color: #333;
  overflow: hidden;
  position: relative;
  width: 70%;
  margin-bottom: 30px;
  margin-left: 240px;
  margin-top: -75px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 460px;

}

.topnav a:hover {
  background-color: #99B2DD;
  color: black;
}

.topnav a.active {
  background-color: #D64550;
  color: white;
}

/*scroll css*/
div.scroll-1{
  padding: 40px 0;
  margin-left: 151px;
  width: 1080px;
  background: white;
  border-top: 3px solid #a9a9a9;
  border-bottom: 3px solid #a9a9a9;
  text-align: center;
  display: inline-block;

  font-family: Arial, Helvetica, sans-serif;
}
div.scroll-2{
  padding: 40px 0;
  margin-left: 150px;
  margin-top: 65px;
  width: 1080px;
  background: white;
  border-top: 3px solid #D64550;
  border-bottom: 3px solid #D64550;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
div.scroll-3{
  padding: 40px 0;
  margin-left: 150px;
  margin-top: 65px;
  width: 1080px;
  background: white;
  border-top: 3px solid #99B2DD;
  border-bottom: 3px solid #99B2DD;
  text-align: center;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-family: 'Satisfy', cursive;
  font-weight: bolder;
}
h4{
  font-family: 'Playfair Display', serif;
}
