div.one {
  font-size: 12px;
  display: inline-block;
  font-family: 'Playfair Display', serif;
  margin-left: 150px;
}

div.two {
  display: inline-block;
}


div.three {
  padding: 40px 0;
  margin-left: 151px;
  width: 1080px;
  height: 500px;
  background-image: url(image/chuys-2.jpg);
  border: 1px solid #efefef;
  text-align: center;
  font-family: 'Playfair Display', serif;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.four {
  border: 1px solid #D64550;
  width: 150px;
  margin-left: 465px;
  margin-top: 40px;
  background: #D64550;
  padding: 10px;
  border-radius: 20px;
}

div.font {
  color: white;
  font-size: 30px;
  background-color: #D64550;
  border-radius: 20px;
  width: 500px;
  font-family: 'Satisfy', cursive;
  margin-top: 170px;
  margin-left: 300px;
}

div.five {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 200px;
  margin-left: 150px;
  display: relative;
  font-family: 'Playfair Display', serif;
}

div.six {
  margin-left: 150px;
  display: relative;
  margin-top: -90px;
  font-family: 'Playfair Display', serif;
}

div.seven {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 200px;
  margin-left: 1040px;
  margin-top: 40px;
  font-family: 'Playfair Display', serif;
}

div.eight {
  margin-left: 400px;
  margin-right: 165px;
  margin-top: -70px;
  font-family: 'Playfair Display', serif;
}



.sauce{
  border-radius: 60%;
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin-left: 950px;
  margin-top: -120px
}
.queso{
  border-radius: 60%;
  border: 1px solid black;
  padding: 5px;
  width: 300px;
  height: 200px;
  margin-left: 120px;
  margin-top: -140px;
}
/* navigation bar css*/

.topnav {
  background-color: #333;
  overflow: hidden;
  position: relative;
  width: 70%;
  margin-bottom: 30px;
  margin-left: 240px;
  margin-top: -75px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 460px;

}

.topnav a:hover {
  background-color: #99B2DD;
  color: black;
}

.topnav a.active {
  background-color: #D64550;
  color: white;
}


div.container{
  max-width: 960px;
  margin: 0 auto;
  background: gray;
  font-size: 24px;
  padding: 25px;
}

h2{
  font-family: 'Satisfy', cursive;
}
h4{
  font-family: 'Playfair Display', serif;
}
