/*********TAG SELECTORS********/
body {
  background-color: #D9BBB4;
}

h1 {
  color: #B47568;
}

hr {
  border-style: dotted;
  width: 70%;
  height: 5px;
  border-width: 10px;
}

img {
  border-radius: 50%;
}

/*********CLASS SELECTORS********/
.top-HR {
  color: pink;
}

.bott-HR {
  color: red;
}

.anchor {
  color: green;
}

/*********ID SELECTORS********/
#middle-row {
  color: red;
}
